<div class="author-card">
  {% if site.author.avatar %}
  <img class="author-avatar" src="{{ site.author.avatar | relative_url }}" alt="{{ site.author.name }}">
  {% endif %}
  <div class="author-profile-content">
  <h3 class="author-name">{{ site.author.name }}</h3>
  {% if site.author.bio %}
  <p class="author-bio">{{ site.author.bio }}</p>
  {% endif %}
  <div class="author-affiliations" aria-label="Affiliations">
    <img class="affiliation-logo affiliation-ntu" src="{{ '/assets/images/logos/NTU-transparent-new.png' | relative_url }}" alt="Nanyang Technological University">
    <img class="affiliation-logo affiliation-dec" src="{{ '/assets/images/logos/declare-transparent-new.png' | relative_url }}" alt="DeCLaRe Lab">
  </div>
  {% if site.author.location %}
  <p class="author-location">
    <svg width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"><path d="M21 10c0 7-9 13-9 13s-9-6-9-13a9 9 0 0118 0z"/><circle cx="12" cy="10" r="3"/></svg>
    {{ site.author.location }}
  </p>
  {% endif %}
  {% if site.author.links %}
  <div class="author-links">
    {% for link in site.author.links %}
    <a href="{{ link.url }}" target="_blank" rel="noopener" title="{{ link.label }}">
      <i class="{{ link.icon }}"></i> {{ link.label }}
    </a>
    {% endfor %}
  </div>
  {% endif %}
  </div>
</div>
